<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 这里是用于修改logo的，勿覆盖 -->
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/5580/xjtluaichina2025/assets/logos/logo-blue.webp"/>

    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'glass-menu.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'article.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'fonts.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %} | XJTLU-AI-China - iGEM 2025</title>
    

</head>

<body>
 <!-- Navigation -->
 {% include 'menu.html' %}

 <!-- Page Content -->
   {% block page_content %}{% endblock %}

 <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
 {% include 'footer.html' %}

  <script>
    //go top
    document.getElementById("gotop").addEventListener("click", () => {
        scrollTo(0,0);
      })
  </script>
    

  
  <!-- Main JavaScript -->
  <script src="{{ url_for('static', filename = 'main.js') }}"></script>
  <script src="{{ url_for('static', filename = 'article.js') }}"></script>
  
</body>
</html>
